:root {
  --main-bg-color: #f1ce87;
  --main-text-color: #333;
  --link-color: #b5651d;
}
body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: Arial, sans-serif;
  margin: 20px;
}
h1 {
  color: var(--link-color);
}

p {
  line-height: 1.6;
  text-align: justify;
}
