:root {
  --main-bg-color: #f1ce87;
  --main-text-color: #333;
  --link-color: #b5651d;
}
body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}
h1 {
  color: var(--link-color);
}

p {
  line-height: 1.6;
  text-align: center;
}

.croissant {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

footer {
  color: var(--link-color);
  text-decoration: none;
}
